In [17]:
import pandas as pd 

humidity = pd.read_csv('humidity.csv', sep=',', encoding='cp949')
temp = pd.read_csv('temperr.csv', sep=',', encoding='cp949')

humidity.head()

        기간    평균  최소
0  2011.06  67.0  19
1  2011.07  79.0  30
2  2011.08  74.0  30
3  2012.06  54.1  21
4  2012.07  73.8  38

In [18]:
temp.head()

     온도          날짜
0  22.0  2011-06-19
1  24.6  2011-07-18
2  25.8  2011-08-05
3  24.1  2012-06-19
4  25.4  2012-07-29

In [3]:
# humidity = humidity.sort_values(by="기간",ascending=True)
# humidity.reset_index(drop=True)

         기간    평균  최소
0   2011.06  67.0  19
1   2011.07  79.0  30
2   2011.08  74.0  30
3   2012.06  54.1  21
4   2012.07  73.8  38
5   2012.08  68.0  31
6   2013.06  60.1  15
7   2013.07  79.3  40
8   2013.08  69.3  28
9   2014.06  73.0  32
10  2014.07  74.0  27
11  2014.08  77.0  32
12  2015.06  60.0  13
13  2015.07  71.0  28
14  2015.08  70.0  29
15  2016.06  63.0  21
16  2016.07  73.0  37
17  2016.08  64.0  27
18  2017.06  57.0  14
19  2017.07  77.0  38
20  2017.08  71.0  19
21  2018.06  63.0  19
22  2018.07  68.0  29
23  2018.08  65.0  25
24  2019.06  61.0  22
25  2019.07  69.0  24
26  2019.08  69.0  28
27  2020.06  68.0  26
28  2020.07  77.0  34
29  2020.08  85.0  49

In [4]:
hum_percent = []
for avg, min in zip(humidity['평균'], humidity['최소']):
    _per_hum = min / avg * 100
    hum_percent.append(_per_hum)
hum_percent

[28.35820895522388,
 37.9746835443038,
 40.54054054054054,
 38.817005545286506,
 51.490514905149055,
 45.588235294117645,
 24.958402662229616,
 50.441361916771754,
 40.4040404040404,
 43.83561643835616,
 36.486486486486484,
 41.55844155844156,
 21.666666666666668,
 39.436619718309856,
 41.42857142857143,
 33.33333333333333,
 50.68493150684932,
 42.1875,
 24.561403508771928,
 49.35064935064935,
 26.76056338028169,
 30.158730158730158,
 42.64705882352941,
 38.46153846153847,
 36.0655737704918,
 34.78260869565217,
 40.57971014492754,
 38.23529411764706,
 44.15584415584416,
 57.647058823529406]

In [19]:
discom = 0
discomfort = []

for tem, hum in zip(temp['온도'], humidity['평균']):
    print(f'tem {tem} hum {hum}')
    discom = 0.81 * tem + 0.01*hum * (0.99*tem - 14.3) + 46.3
    discomfort.append(discom)
discomfort

tem 22.0 hum 67.0
tem 24.6 hum 79.0
tem 25.8 hum 74.0
tem 24.1 hum 54.1
tem 25.4 hum 73.8
tem 27.1 hum 68.0
tem 24.4 hum 60.1
tem 25.5 hum 79.3
tem 27.7 hum 69.3
tem 23.1 hum 73.0
tem 26.1 hum 74.0
tem 25.2 hum 77.0
tem 23.6 hum 60.0
tem 25.8 hum 71.0
tem 26.3 hum 70.0
tem 23.6 hum 63.0
tem 26.2 hum 73.0
tem 28.0 hum 64.0
tem 23.3 hum 57.0
tem 26.9 hum 77.0
tem 25.9 hum 71.0
tem 23.1 hum 63.0
tem 27.8 hum 68.0
tem 28.8 hum 65.0
tem 22.5 hum 61.0
tem 25.9 hum 69.0
tem 27.2 hum 69.0
tem 23.9 hum 68.0
tem 24.1 hum 77.0
tem 26.5 hum 85.0

[69.13159999999999,
 74.16866,
 75.51707999999999,
 70.992419,
 74.87834799999999,
 76.77072000000001,
 71.987456,
 75.634385,
 77.831239,
 71.26637,
 75.97986,
 74.91095999999999,
 70.8544,
 75.17982,
 75.8189,
 71.12631999999999,
 76.01774,
 77.5688,
 70.17018999999999,
 77.58386999999999,
 75.33111,
 70.40947,
 77.80896,
 78.86580000000001,
 69.38974999999999,
 75.10428999999999,
 77.04532,
 72.02448,
 73.18143,
 77.90975]

In [20]:
date = []
for i in temp['날짜']:
    date.append(str(i)[:7])

In [21]:
date

['2011-06',
 '2011-07',
 '2011-08',
 '2012-06',
 '2012-07',
 '2012-08',
 '2013-06',
 '2013-07',
 '2013-08',
 '2014-06',
 '2014-07',
 '2014-08',
 '2015-06',
 '2015-07',
 '2015-08',
 '2016-06',
 '2016-07',
 '2016-08',
 '2017-06',
 '2017-07',
 '2017-08',
 '2018-06',
 '2018-07',
 '2018-08',
 '2019-06',
 '2019-07',
 '2019-08',
 '2020-06',
 '2020-07',
 '2020-08']

In [22]:
data = pd.DataFrame({
    'date': date,
    'discomfort': discomfort
})

In [23]:
data.to_csv('discomfort.csv', sep=',')